rf-sys-sd-ecc-order/target/test-classes/rf-sys-sd-sapecc-order-idoc-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <http:listener-config name="rf-sys-sd-sapecc-order-idoc-api-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="rf-sys-sd-sapecc-order-idoc-api-config" raml="rf-sys-sd-sapecc-order-idoc-api.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="rf-sys-sd-sapecc-order-idoc-api-main">
        <http:listener config-ref="rf-sys-sd-sapecc-order-idoc-api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="rf-sys-sd-sapecc-order-idoc-api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="rf-sys-sd-sapecc-order-idoc-api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="rf-sys-sd-sapecc-order-idoc-api-console">
        <http:listener config-ref="rf-sys-sd-sapecc-order-idoc-api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="rf-sys-sd-sapecc-order-idoc-api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/v1/order:rf-sys-sd-sapecc-order-idoc-api-config">
        <set-payload value="{&#xA;   &quot;idoc-control&quot;: {&#xA;         &quot;idoc-type&quot;: &quot;SALESORDER_CREATEFROMDAT202&quot;,&#xA;         &quot;message-type&quot;: &quot;SALESORDER_CREATEFROMDAT2&quot;,&#xA;&#x9;&#x9; &quot;sender-partner&quot;:{&#xA;&#x9;&#x9;&#x9;&quot;port&quot;: &quot;MSINBD&quot;,&#xA;&#x9;&#x9;&#x9;&quot;type&quot;: &quot;LS&quot;,&#xA;&#x9;&#x9;&#x9;&quot;number&quot;: &quot;MSDEVT1&quot;&#xA;&#x9;&#x9; },&#xA;&#x9;&#x9; &quot;receiver-partner&quot;:{&#xA;&#x9;&#x9;&#x9;&quot;port&quot;: &quot;SAPEQ2&quot;,&#xA;&#x9;&#x9;&#x9;&quot;type&quot;: &quot;LS&quot;,&#xA;&#x9;&#x9;&#x9;&quot;number&quot;: &quot;EQ2CLNT100&quot;&#xA;&#x9;&#x9; }&#xA;      },&#xA;      &quot;order&quot;: {&#xA;         &quot;sales-ord-num&quot;: &quot;2100200000&quot;,&#xA;         &quot;header&quot;: {&#xA;            &quot;obj-key&quot;: &quot;2100200000&quot;,&#xA;            &quot;order-type&quot;: &quot;TA&quot;,&#xA;            &quot;sales-org&quot;: &quot;3010&quot;,&#xA;            &quot;distribution-channel&quot;: &quot;10&quot;,&#xA;            &quot;division&quot;: &quot;10&quot;,&#xA;            &quot;required-date&quot;: &quot;20180210&quot;,&#xA;            &quot;reason&quot;: &quot;Z27&quot;,&#xA;            &quot;price-date&quot;: &quot;20180215&quot;,&#xA;            &quot;doc-date&quot;: &quot;20180215&quot;,&#xA;            &quot;currency&quot;: &quot;AUD&quot;,&#xA;            &quot;ref-order&quot;: &quot;refdocdata&quot;,&#xA;            &quot;ref-ord-cat&quot;: &quot;C&quot;,&#xA;            &quot;payment-method&quot;: &quot;p&quot;,&#xA;            &quot;purchase-date&quot;: &quot;20160202&quot;,&#xA;            &quot;incoterms1&quot;: &quot;CFR&quot;,&#xA;            &quot;incoterms2&quot;: &quot;CHN&quot;,&#xA;            &quot;payment-term&quot;: &quot;0001&quot;,&#xA;            &quot;complete-delivery&quot;: true,&#xA;            &quot;cust-purchase-order&quot;: &quot;1234567891&quot;,&#xA;            &quot;doc-cat&quot;: &quot;C&quot;,&#xA;            &quot;shipping-cond&quot;: &quot;Z1&quot;,&#xA;            &quot;cust-name&quot;: &quot;1234567890123&quot;,&#xA;            &quot;alt-tax-classification&quot;: &quot;0&quot;,&#xA;&#x9;&#x9;&#x9;&quot;commission-date&quot;: &quot;20180502&quot;,&#xA;&#x9;&#x9;&#x9;&quot;test&quot;: false&#xA;         },&#xA;         &quot;item&quot;: [&#xA;            {&#xA;               &quot;item-num&quot;: &quot;100&quot;,&#xA;               &quot;material&quot;: &quot;ENHEFG1-02&quot;,&#xA;               &quot;plant&quot;: &quot;3010&quot;,&#xA;               &quot;target-qty&quot;: &quot;123&quot;,&#xA;               &quot;description&quot;: &quot;TEST123&quot;,&#xA;               &quot;cust-purchase-order&quot;: &quot;1234567891&quot;,&#xA;               &quot;cust-purchase-date&quot;: &quot;20160202&quot;,&#xA;               &quot;pricing-grp&quot;: &quot;01&quot;,&#xA;               &quot;cust-grp&quot;: &quot;01&quot;,&#xA;               &quot;incoterms1&quot;: &quot;CFR&quot;,&#xA;               &quot;incoterms2&quot;: &quot;CHN&quot;,&#xA;               &quot;payment-term&quot;: &quot;0001&quot;,&#xA;               &quot;payment-method&quot;: &quot;C&quot;,&#xA;               &quot;uom&quot;: &quot;EA&quot;,&#xA;               &quot;rejection-reason&quot;: &quot;XXXX&quot;,&#xA;&#x9;&#x9;&#x9;   &quot;free&quot;: false,&#xA;&#x9;&#x9;&#x9;   &quot;customer-order&quot;: {&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;num&quot;: &quot;1234567891&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;date&quot;: &quot;20160202&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;item-num&quot;: &quot;10&quot;&#xA;&#x9;&#x9;&#x9;&#x9;},&#xA;&#x9;&#x9;&#x9;   &quot;delivery-schedule&quot;: [&#xA;&#x9;&#x9;&#x9;&#x9;{&#x9;&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;req-date&quot;: &quot;20180102&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;req-qty&quot;: &quot;2&quot;&#xA;&#x9;&#x9;&#x9;&#x9;},&#xA;&#x9;&#x9;&#x9;&#x9;{&#x9;&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;req-date&quot;: &quot;20180102&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;req-qty&quot;: &quot;690&quot;&#xA;&#x9;&#x9;&#x9;&#x9;}&#xA;&#x9;&#x9;&#x9;   ],&#xA;&#x9;&#x9;&#x9;   &quot;pricing&quot;:{&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;shipping&quot;: &quot;100&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;handling&quot;: &quot;5&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;shipping-tax&quot;: &quot;4&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;handling-tax&quot;: &quot;6&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;base-price&quot;: &quot;3000&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;discount-value&quot;: &quot;90&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;discount-percent&quot;: &quot;6&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;cv-total&quot;: &quot;3000&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;qv-total&quot;: &quot;2000&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;tax&quot;: &quot;3&quot;&#x9;&#x9;&#x9;   &#xA;&#x9;&#x9;&#x9;   }&#xA;            },&#xA;            {&#xA;               &quot;item-num&quot;: &quot;200&quot;,&#xA;               &quot;material&quot;: &quot;ENHEFG1-02&quot;,&#xA;               &quot;plant&quot;: &quot;3010&quot;,&#xA;               &quot;target-qty&quot;: &quot;123&quot;,&#xA;               &quot;description&quot;: &quot;TEST123&quot;,&#xA;               &quot;pricing-grp&quot;: &quot;01&quot;,&#xA;               &quot;cust-grp&quot;: &quot;01&quot;,&#xA;               &quot;incoterms1&quot;: &quot;CFR&quot;,&#xA;               &quot;incoterms2&quot;: &quot;CHN&quot;,&#xA;               &quot;payment-term&quot;: &quot;0001&quot;,&#xA;               &quot;payment-method&quot;: &quot;C&quot;,&#xA;               &quot;uom&quot;: &quot;EA&quot;,&#xA;               &quot;rejection-reason&quot;: &quot;XXXX&quot;,&#xA;&#x9;&#x9;&#x9;   &quot;customer-order&quot;: {&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;num&quot;: &quot;1234567891&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;date&quot;: &quot;20160202&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;item-num&quot;: &quot;20&quot;&#xA;&#x9;&#x9;&#x9;&#x9;},&#xA;&#x9;&#x9;&#x9;   &quot;pricing&quot;:{&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;shipping&quot;: &quot;100&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;handling&quot;: &quot;5&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;shipping-tax&quot;: &quot;4&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;handling-tax&quot;: &quot;6&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;base-price&quot;: &quot;3000&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;discount-value&quot;: &quot;90&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;discount-percent&quot;: &quot;6&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;cv-total&quot;: &quot;3000&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;qv-total&quot;: &quot;2000&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;tax&quot;: &quot;3&quot;&#x9;&#x9;&#x9;   &#xA;&#x9;&#x9;&#x9;   }&#xA;            }&#xA;         ],&#xA;&#x9;&#x9; &#xA;&#x9;&#x9; &quot;sold-to&quot;: {&#xA;&#x9;&#x9;&#x9;&quot;cust-num&quot;: &quot;219999999&quot;,&#xA;&#x9;&#x9;&#x9;&quot;name-1&quot;: &quot;WH COLLINS LIMITED&quot;,&#xA;&#x9;&#x9;&#x9;&quot;name-2&quot;: &quot;DIMSEY&quot;,&#xA;&#x9;&#x9;&#x9;&quot;street&quot;: &quot;APT C MARBLEHEAD CT&quot;,&#xA;&#x9;&#x9;&#x9;&quot;street2&quot;: &quot;APT C MARBLEHEAD CT&quot;,&#xA;&#x9;&#x9;&#x9;&quot;country&quot;: &quot;US&quot;,&#xA;&#x9;&#x9;&#x9;&quot;country-code&quot;: &quot;US&quot;,&#xA;&#x9;&#x9;&#x9;&quot;postal-code&quot;: &quot;41211&quot;,&#xA;&#x9;&#x9;&#x9;&quot;city&quot;: &quot;COLUMBUS&quot;,&#xA;&#x9;&#x9;&#x9;&quot;region&quot;: &quot;OH&quot;,&#xA;&#x9;&#x9;&#x9;&quot;telephone&quot;: &quot;6146487669&quot;,&#xA;&#x9;&#x9;&#x9;&quot;tax-jurisdiction-code&quot;: &quot;123456789&quot;,&#xA;            &quot;e-mail-address&quot;: &quot;XYZ@GMAIL.COM&quot;,&#xA;            &quot;lang&quot;: &quot;EN&quot;&#xA;&#x9;&#x9;  },&#xA;&#x9;&#x9; &quot;ship-to&quot;: {&#xA;&#x9;&#x9;&#x9;&quot;cust-num&quot;: &quot;219999999&quot;,&#xA;&#x9;&#x9;&#x9;&quot;name-1&quot;: &quot;WH COLLINS LIMITED&quot;,&#xA;&#x9;&#x9;&#x9;&quot;name-2&quot;: &quot;DIMSEY&quot;,&#xA;&#x9;&#x9;&#x9;&quot;street&quot;: &quot;APT C MARBLEHEAD CT&quot;,&#xA;&#x9;&#x9;&#x9;&quot;street2&quot;: &quot;APT C MARBLEHEAD CT&quot;,&#xA;&#x9;&#x9;&#x9;&quot;country&quot;: &quot;US&quot;,&#xA;&#x9;&#x9;&#x9;&quot;country-code&quot;: &quot;US&quot;,&#xA;&#x9;&#x9;&#x9;&quot;postal-code&quot;: &quot;41211&quot;,&#xA;&#x9;&#x9;&#x9;&quot;city&quot;: &quot;COLUMBUS&quot;,&#xA;&#x9;&#x9;&#x9;&quot;region&quot;: &quot;OH&quot;,&#xA;&#x9;&#x9;&#x9;&quot;telephone&quot;: &quot;6146487669&quot;,&#xA;&#x9;&#x9;&#x9;&quot;tax-jurisdiction-code&quot;: &quot;123456789&quot;,&#xA;            &quot;e-mail-address&quot;: &quot;XYZ@GMAIL.COM&quot;,&#xA;            &quot;lang&quot;: &quot;EN&quot;&#xA;&#x9;&#x9;  },&#xA;&#x9;&#x9; &quot;bill-to&quot;: {&#xA;&#x9;&#x9;&#x9;&quot;cust-num&quot;: &quot;219999999&quot;,&#xA;&#x9;&#x9;&#x9;&quot;name-1&quot;: &quot;WH COLLINS LIMITED&quot;,&#xA;&#x9;&#x9;&#x9;&quot;name-2&quot;: &quot;DIMSEY&quot;,&#xA;&#x9;&#x9;&#x9;&quot;street&quot;: &quot;APT C MARBLEHEAD CT&quot;,&#xA;&#x9;&#x9;&#x9;&quot;street2&quot;: &quot;APT C MARBLEHEAD CT&quot;,&#xA;&#x9;&#x9;&#x9;&quot;country&quot;: &quot;US&quot;,&#xA;&#x9;&#x9;&#x9;&quot;country-code&quot;: &quot;US&quot;,&#xA;&#x9;&#x9;&#x9;&quot;postal-code&quot;: &quot;41211&quot;,&#xA;&#x9;&#x9;&#x9;&quot;city&quot;: &quot;COLUMBUS&quot;,&#xA;&#x9;&#x9;&#x9;&quot;region&quot;: &quot;OH&quot;,&#xA;&#x9;&#x9;&#x9;&quot;telephone&quot;: &quot;6146487669&quot;,&#xA;&#x9;&#x9;&#x9;&quot;tax-jurisdiction-code&quot;: &quot;123456789&quot;,&#xA;            &quot;e-mail-address&quot;: &quot;XYZ@GMAIL.COM&quot;,&#xA;            &quot;lang&quot;: &quot;EN&quot;&#xA;&#x9;&#x9;  },&#xA;&#x9;&#x9; &quot;payer&quot;: {&#xA;&#x9;&#x9;&#x9;&quot;cust-num&quot;: &quot;219999999&quot;,&#xA;&#x9;&#x9;&#x9;&quot;name-1&quot;: &quot;WH COLLINS LIMITED&quot;,&#xA;&#x9;&#x9;&#x9;&quot;name-2&quot;: &quot;DIMSEY&quot;,&#xA;&#x9;&#x9;&#x9;&quot;street&quot;: &quot;APT C MARBLEHEAD CT&quot;,&#xA;&#x9;&#x9;&#x9;&quot;street2&quot;: &quot;APT C MARBLEHEAD CT&quot;,&#xA;&#x9;&#x9;&#x9;&quot;country&quot;: &quot;US&quot;,&#xA;&#x9;&#x9;&#x9;&quot;country-code&quot;: &quot;US&quot;,&#xA;&#x9;&#x9;&#x9;&quot;postal-code&quot;: &quot;41211&quot;,&#xA;&#x9;&#x9;&#x9;&quot;city&quot;: &quot;COLUMBUS&quot;,&#xA;&#x9;&#x9;&#x9;&quot;region&quot;: &quot;OH&quot;,&#xA;&#x9;&#x9;&#x9;&quot;telephone&quot;: &quot;6146487669&quot;,&#xA;&#x9;&#x9;&#x9;&quot;tax-jurisdiction-code&quot;: &quot;123456789&quot;,&#xA;            &quot;e-mail-address&quot;: &quot;XYZ@GMAIL.COM&quot;,&#xA;            &quot;lang&quot;: &quot;EN&quot;&#xA;&#x9;&#x9;  },&#xA;&#x9;&#x9;  &#xA;&#x9;&#x9; &quot;sponsor&quot;: {&#xA;&#x9;&#x9;&#x9;&quot;cust-num&quot;: &quot;219999999&quot;,&#xA;&#x9;&#x9;&#x9;&quot;name-1&quot;: &quot;WH COLLINS LIMITED&quot;,&#xA;&#x9;&#x9;&#x9;&quot;name-2&quot;: &quot;DIMSEY&quot;,&#xA;&#x9;&#x9;&#x9;&quot;street&quot;: &quot;APT C MARBLEHEAD CT&quot;,&#xA;&#x9;&#x9;&#x9;&quot;street2&quot;: &quot;APT C MARBLEHEAD CT&quot;,&#xA;&#x9;&#x9;&#x9;&quot;country&quot;: &quot;US&quot;,&#xA;&#x9;&#x9;&#x9;&quot;country-code&quot;: &quot;US&quot;,&#xA;&#x9;&#x9;&#x9;&quot;postal-code&quot;: &quot;41211&quot;,&#xA;&#x9;&#x9;&#x9;&quot;city&quot;: &quot;COLUMBUS&quot;,&#xA;&#x9;&#x9;&#x9;&quot;region&quot;: &quot;OH&quot;,&#xA;&#x9;&#x9;&#x9;&quot;telephone&quot;: &quot;6146487669&quot;,&#xA;&#x9;&#x9;&#x9;&quot;tax-jurisdiction-code&quot;: &quot;123456789&quot;,&#xA;            &quot;e-mail-address&quot;: &quot;XYZ@GMAIL.COM&quot;,&#xA;            &quot;lang&quot;: &quot;EN&quot;&#xA;&#x9;&#x9;  },&#xA;         &quot;card&quot;: {&#xA;            &quot;type&quot;: &quot;VISA&quot;,&#xA;            &quot;num&quot;: &quot;474747******4747&quot;,&#xA;            &quot;name&quot;: &quot;Aumji Bhaumji&quot;,&#xA;            &quot;valid-upto&quot;: &quot;20251031&quot;,&#xA;            &quot;auth-flag&quot;: true,&#xA;            &quot;autherized-amt&quot;: &quot;150.0000&quot;,&#xA;            &quot;currency&quot;: &quot;AUD&quot;,&#xA;            &quot;autherization-date&quot;: &quot;20180215&quot;,&#xA;            &quot;autherization-number&quot;: &quot;831000&quot;,&#xA;            &quot;autherization-ref&quot;: &quot;518653166839693&quot;,&#xA;            &quot;auth-check-resp&quot;: &quot;A&quot;,&#xA;            &quot;status&quot;: &quot;C&quot;,&#xA;            &quot;auth-type&quot;: &quot;A&quot;&#xA;         }&#xA;    }&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/v1/order:application/json:rf-sys-sd-sapecc-order-idoc-api-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <flow-ref name="rf-sys-sd-ecc-post-idoc-sub-flow" doc:name="rf-sys-sd-ecc-post-idoc-sub-flow"/>
        <set-payload value="{&#xA;   &quot;idoc-control&quot;: {&#xA;         &quot;idoc-type&quot;: &quot;SALESORDER_CREATEFROMDAT202&quot;,&#xA;         &quot;message-type&quot;: &quot;SALESORDER_CREATEFROMDAT2&quot;,&#xA;&#x9;&#x9; &quot;sender-partner&quot;:{&#xA;&#x9;&#x9;&#x9;&quot;port&quot;: &quot;MSINBD&quot;,&#xA;&#x9;&#x9;&#x9;&quot;type&quot;: &quot;LS&quot;,&#xA;&#x9;&#x9;&#x9;&quot;number&quot;: &quot;MSDEVT1&quot;&#xA;&#x9;&#x9; },&#xA;&#x9;&#x9; &quot;receiver-partner&quot;:{&#xA;&#x9;&#x9;&#x9;&quot;port&quot;: &quot;SAPEQ2&quot;,&#xA;&#x9;&#x9;&#x9;&quot;type&quot;: &quot;LS&quot;,&#xA;&#x9;&#x9;&#x9;&quot;number&quot;: &quot;EQ2CLNT100&quot;&#xA;&#x9;&#x9; }&#xA;      },&#xA;      &quot;order&quot;: {&#xA;         &quot;sales-ord-num&quot;: &quot;2100200000&quot;,&#xA;         &quot;header&quot;: {&#xA;            &quot;obj-key&quot;: &quot;2100200000&quot;,&#xA;            &quot;order-type&quot;: &quot;TA&quot;,&#xA;            &quot;sales-org&quot;: &quot;3010&quot;,&#xA;            &quot;distribution-channel&quot;: &quot;10&quot;,&#xA;            &quot;division&quot;: &quot;10&quot;,&#xA;            &quot;required-date&quot;: &quot;20180210&quot;,&#xA;            &quot;reason&quot;: &quot;Z27&quot;,&#xA;            &quot;price-date&quot;: &quot;20180215&quot;,&#xA;            &quot;doc-date&quot;: &quot;20180215&quot;,&#xA;            &quot;currency&quot;: &quot;AUD&quot;,&#xA;            &quot;ref-order&quot;: &quot;refdocdata&quot;,&#xA;            &quot;ref-ord-cat&quot;: &quot;C&quot;,&#xA;            &quot;payment-method&quot;: &quot;p&quot;,&#xA;            &quot;purchase-date&quot;: &quot;20160202&quot;,&#xA;            &quot;incoterms1&quot;: &quot;CFR&quot;,&#xA;            &quot;incoterms2&quot;: &quot;CHN&quot;,&#xA;            &quot;payment-term&quot;: &quot;0001&quot;,&#xA;            &quot;complete-delivery&quot;: true,&#xA;            &quot;cust-purchase-order&quot;: &quot;1234567891&quot;,&#xA;            &quot;doc-cat&quot;: &quot;C&quot;,&#xA;            &quot;shipping-cond&quot;: &quot;Z1&quot;,&#xA;            &quot;cust-name&quot;: &quot;1234567890123&quot;,&#xA;            &quot;alt-tax-classification&quot;: &quot;0&quot;,&#xA;&#x9;&#x9;&#x9;&quot;commission-date&quot;: &quot;20180502&quot;,&#xA;&#x9;&#x9;&#x9;&quot;test&quot;: false&#xA;         },&#xA;         &quot;item&quot;: [&#xA;            {&#xA;               &quot;item-num&quot;: &quot;100&quot;,&#xA;               &quot;material&quot;: &quot;ENHEFG1-02&quot;,&#xA;               &quot;plant&quot;: &quot;3010&quot;,&#xA;               &quot;target-qty&quot;: &quot;123&quot;,&#xA;               &quot;description&quot;: &quot;TEST123&quot;,&#xA;               &quot;cust-purchase-order&quot;: &quot;1234567891&quot;,&#xA;               &quot;cust-purchase-date&quot;: &quot;20160202&quot;,&#xA;               &quot;pricing-grp&quot;: &quot;01&quot;,&#xA;               &quot;cust-grp&quot;: &quot;01&quot;,&#xA;               &quot;incoterms1&quot;: &quot;CFR&quot;,&#xA;               &quot;incoterms2&quot;: &quot;CHN&quot;,&#xA;               &quot;payment-term&quot;: &quot;0001&quot;,&#xA;               &quot;payment-method&quot;: &quot;C&quot;,&#xA;               &quot;uom&quot;: &quot;EA&quot;,&#xA;               &quot;rejection-reason&quot;: &quot;XXXX&quot;,&#xA;&#x9;&#x9;&#x9;   &quot;free&quot;: false,&#xA;&#x9;&#x9;&#x9;   &quot;customer-order&quot;: {&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;num&quot;: &quot;1234567891&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;date&quot;: &quot;20160202&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;item-num&quot;: &quot;10&quot;&#xA;&#x9;&#x9;&#x9;&#x9;},&#xA;&#x9;&#x9;&#x9;   &quot;delivery-schedule&quot;: [&#xA;&#x9;&#x9;&#x9;&#x9;{&#x9;&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;req-date&quot;: &quot;20180102&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;req-qty&quot;: &quot;2&quot;&#xA;&#x9;&#x9;&#x9;&#x9;},&#xA;&#x9;&#x9;&#x9;&#x9;{&#x9;&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;req-date&quot;: &quot;20180102&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;req-qty&quot;: &quot;690&quot;&#xA;&#x9;&#x9;&#x9;&#x9;}&#xA;&#x9;&#x9;&#x9;   ],&#xA;&#x9;&#x9;&#x9;   &quot;pricing&quot;:{&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;shipping&quot;: &quot;100&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;handling&quot;: &quot;5&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;shipping-tax&quot;: &quot;4&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;handling-tax&quot;: &quot;6&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;base-price&quot;: &quot;3000&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;discount-value&quot;: &quot;90&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;discount-percent&quot;: &quot;6&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;cv-total&quot;: &quot;3000&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;qv-total&quot;: &quot;2000&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;tax&quot;: &quot;3&quot;&#x9;&#x9;&#x9;   &#xA;&#x9;&#x9;&#x9;   }&#xA;            },&#xA;            {&#xA;               &quot;item-num&quot;: &quot;200&quot;,&#xA;               &quot;material&quot;: &quot;ENHEFG1-02&quot;,&#xA;               &quot;plant&quot;: &quot;3010&quot;,&#xA;               &quot;target-qty&quot;: &quot;123&quot;,&#xA;               &quot;description&quot;: &quot;TEST123&quot;,&#xA;               &quot;pricing-grp&quot;: &quot;01&quot;,&#xA;               &quot;cust-grp&quot;: &quot;01&quot;,&#xA;               &quot;incoterms1&quot;: &quot;CFR&quot;,&#xA;               &quot;incoterms2&quot;: &quot;CHN&quot;,&#xA;               &quot;payment-term&quot;: &quot;0001&quot;,&#xA;               &quot;payment-method&quot;: &quot;C&quot;,&#xA;               &quot;uom&quot;: &quot;EA&quot;,&#xA;               &quot;rejection-reason&quot;: &quot;XXXX&quot;,&#xA;&#x9;&#x9;&#x9;   &quot;customer-order&quot;: {&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;num&quot;: &quot;1234567891&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;date&quot;: &quot;20160202&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;item-num&quot;: &quot;20&quot;&#xA;&#x9;&#x9;&#x9;&#x9;},&#xA;&#x9;&#x9;&#x9;   &quot;pricing&quot;:{&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;shipping&quot;: &quot;100&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;handling&quot;: &quot;5&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;shipping-tax&quot;: &quot;4&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;handling-tax&quot;: &quot;6&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;base-price&quot;: &quot;3000&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;discount-value&quot;: &quot;90&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;discount-percent&quot;: &quot;6&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;cv-total&quot;: &quot;3000&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;qv-total&quot;: &quot;2000&quot;,&#xA;&#x9;&#x9;&#x9;&#x9;&#x9;&quot;tax&quot;: &quot;3&quot;&#x9;&#x9;&#x9;   &#xA;&#x9;&#x9;&#x9;   }&#xA;            }&#xA;         ],&#xA;&#x9;&#x9; &#xA;&#x9;&#x9; &quot;sold-to&quot;: {&#xA;&#x9;&#x9;&#x9;&quot;cust-num&quot;: &quot;219999999&quot;,&#xA;&#x9;&#x9;&#x9;&quot;name-1&quot;: &quot;WH COLLINS LIMITED&quot;,&#xA;&#x9;&#x9;&#x9;&quot;name-2&quot;: &quot;DIMSEY&quot;,&#xA;&#x9;&#x9;&#x9;&quot;street&quot;: &quot;APT C MARBLEHEAD CT&quot;,&#xA;&#x9;&#x9;&#x9;&quot;street2&quot;: &quot;APT C MARBLEHEAD CT&quot;,&#xA;&#x9;&#x9;&#x9;&quot;country&quot;: &quot;US&quot;,&#xA;&#x9;&#x9;&#x9;&quot;country-code&quot;: &quot;US&quot;,&#xA;&#x9;&#x9;&#x9;&quot;postal-code&quot;: &quot;41211&quot;,&#xA;&#x9;&#x9;&#x9;&quot;city&quot;: &quot;COLUMBUS&quot;,&#xA;&#x9;&#x9;&#x9;&quot;region&quot;: &quot;OH&quot;,&#xA;&#x9;&#x9;&#x9;&quot;telephone&quot;: &quot;6146487669&quot;,&#xA;&#x9;&#x9;&#x9;&quot;tax-jurisdiction-code&quot;: &quot;123456789&quot;,&#xA;            &quot;e-mail-address&quot;: &quot;XYZ@GMAIL.COM&quot;,&#xA;            &quot;lang&quot;: &quot;EN&quot;&#xA;&#x9;&#x9;  },&#xA;&#x9;&#x9; &quot;ship-to&quot;: {&#xA;&#x9;&#x9;&#x9;&quot;cust-num&quot;: &quot;219999999&quot;,&#xA;&#x9;&#x9;&#x9;&quot;name-1&quot;: &quot;WH COLLINS LIMITED&quot;,&#xA;&#x9;&#x9;&#x9;&quot;name-2&quot;: &quot;DIMSEY&quot;,&#xA;&#x9;&#x9;&#x9;&quot;street&quot;: &quot;APT C MARBLEHEAD CT&quot;,&#xA;&#x9;&#x9;&#x9;&quot;street2&quot;: &quot;APT C MARBLEHEAD CT&quot;,&#xA;&#x9;&#x9;&#x9;&quot;country&quot;: &quot;US&quot;,&#xA;&#x9;&#x9;&#x9;&quot;country-code&quot;: &quot;US&quot;,&#xA;&#x9;&#x9;&#x9;&quot;postal-code&quot;: &quot;41211&quot;,&#xA;&#x9;&#x9;&#x9;&quot;city&quot;: &quot;COLUMBUS&quot;,&#xA;&#x9;&#x9;&#x9;&quot;region&quot;: &quot;OH&quot;,&#xA;&#x9;&#x9;&#x9;&quot;telephone&quot;: &quot;6146487669&quot;,&#xA;&#x9;&#x9;&#x9;&quot;tax-jurisdiction-code&quot;: &quot;123456789&quot;,&#xA;            &quot;e-mail-address&quot;: &quot;XYZ@GMAIL.COM&quot;,&#xA;            &quot;lang&quot;: &quot;EN&quot;&#xA;&#x9;&#x9;  },&#xA;&#x9;&#x9; &quot;bill-to&quot;: {&#xA;&#x9;&#x9;&#x9;&quot;cust-num&quot;: &quot;219999999&quot;,&#xA;&#x9;&#x9;&#x9;&quot;name-1&quot;: &quot;WH COLLINS LIMITED&quot;,&#xA;&#x9;&#x9;&#x9;&quot;name-2&quot;: &quot;DIMSEY&quot;,&#xA;&#x9;&#x9;&#x9;&quot;street&quot;: &quot;APT C MARBLEHEAD CT&quot;,&#xA;&#x9;&#x9;&#x9;&quot;street2&quot;: &quot;APT C MARBLEHEAD CT&quot;,&#xA;&#x9;&#x9;&#x9;&quot;country&quot;: &quot;US&quot;,&#xA;&#x9;&#x9;&#x9;&quot;country-code&quot;: &quot;US&quot;,&#xA;&#x9;&#x9;&#x9;&quot;postal-code&quot;: &quot;41211&quot;,&#xA;&#x9;&#x9;&#x9;&quot;city&quot;: &quot;COLUMBUS&quot;,&#xA;&#x9;&#x9;&#x9;&quot;region&quot;: &quot;OH&quot;,&#xA;&#x9;&#x9;&#x9;&quot;telephone&quot;: &quot;6146487669&quot;,&#xA;&#x9;&#x9;&#x9;&quot;tax-jurisdiction-code&quot;: &quot;123456789&quot;,&#xA;            &quot;e-mail-address&quot;: &quot;XYZ@GMAIL.COM&quot;,&#xA;            &quot;lang&quot;: &quot;EN&quot;&#xA;&#x9;&#x9;  },&#xA;&#x9;&#x9; &quot;payer&quot;: {&#xA;&#x9;&#x9;&#x9;&quot;cust-num&quot;: &quot;219999999&quot;,&#xA;&#x9;&#x9;&#x9;&quot;name-1&quot;: &quot;WH COLLINS LIMITED&quot;,&#xA;&#x9;&#x9;&#x9;&quot;name-2&quot;: &quot;DIMSEY&quot;,&#xA;&#x9;&#x9;&#x9;&quot;street&quot;: &quot;APT C MARBLEHEAD CT&quot;,&#xA;&#x9;&#x9;&#x9;&quot;street2&quot;: &quot;APT C MARBLEHEAD CT&quot;,&#xA;&#x9;&#x9;&#x9;&quot;country&quot;: &quot;US&quot;,&#xA;&#x9;&#x9;&#x9;&quot;country-code&quot;: &quot;US&quot;,&#xA;&#x9;&#x9;&#x9;&quot;postal-code&quot;: &quot;41211&quot;,&#xA;&#x9;&#x9;&#x9;&quot;city&quot;: &quot;COLUMBUS&quot;,&#xA;&#x9;&#x9;&#x9;&quot;region&quot;: &quot;OH&quot;,&#xA;&#x9;&#x9;&#x9;&quot;telephone&quot;: &quot;6146487669&quot;,&#xA;&#x9;&#x9;&#x9;&quot;tax-jurisdiction-code&quot;: &quot;123456789&quot;,&#xA;            &quot;e-mail-address&quot;: &quot;XYZ@GMAIL.COM&quot;,&#xA;            &quot;lang&quot;: &quot;EN&quot;&#xA;&#x9;&#x9;  },&#xA;&#x9;&#x9;  &#xA;&#x9;&#x9; &quot;sponsor&quot;: {&#xA;&#x9;&#x9;&#x9;&quot;cust-num&quot;: &quot;219999999&quot;,&#xA;&#x9;&#x9;&#x9;&quot;name-1&quot;: &quot;WH COLLINS LIMITED&quot;,&#xA;&#x9;&#x9;&#x9;&quot;name-2&quot;: &quot;DIMSEY&quot;,&#xA;&#x9;&#x9;&#x9;&quot;street&quot;: &quot;APT C MARBLEHEAD CT&quot;,&#xA;&#x9;&#x9;&#x9;&quot;street2&quot;: &quot;APT C MARBLEHEAD CT&quot;,&#xA;&#x9;&#x9;&#x9;&quot;country&quot;: &quot;US&quot;,&#xA;&#x9;&#x9;&#x9;&quot;country-code&quot;: &quot;US&quot;,&#xA;&#x9;&#x9;&#x9;&quot;postal-code&quot;: &quot;41211&quot;,&#xA;&#x9;&#x9;&#x9;&quot;city&quot;: &quot;COLUMBUS&quot;,&#xA;&#x9;&#x9;&#x9;&quot;region&quot;: &quot;OH&quot;,&#xA;&#x9;&#x9;&#x9;&quot;telephone&quot;: &quot;6146487669&quot;,&#xA;&#x9;&#x9;&#x9;&quot;tax-jurisdiction-code&quot;: &quot;123456789&quot;,&#xA;            &quot;e-mail-address&quot;: &quot;XYZ@GMAIL.COM&quot;,&#xA;            &quot;lang&quot;: &quot;EN&quot;&#xA;&#x9;&#x9;  },&#xA;         &quot;card&quot;: {&#xA;            &quot;type&quot;: &quot;VISA&quot;,&#xA;            &quot;num&quot;: &quot;474747******4747&quot;,&#xA;            &quot;name&quot;: &quot;Aumji Bhaumji&quot;,&#xA;            &quot;valid-upto&quot;: &quot;20251031&quot;,&#xA;            &quot;auth-flag&quot;: true,&#xA;            &quot;autherized-amt&quot;: &quot;150.0000&quot;,&#xA;            &quot;currency&quot;: &quot;AUD&quot;,&#xA;            &quot;autherization-date&quot;: &quot;20180215&quot;,&#xA;            &quot;autherization-number&quot;: &quot;831000&quot;,&#xA;            &quot;autherization-ref&quot;: &quot;518653166839693&quot;,&#xA;            &quot;auth-check-resp&quot;: &quot;A&quot;,&#xA;            &quot;status&quot;: &quot;C&quot;,&#xA;            &quot;auth-type&quot;: &quot;A&quot;&#xA;         }&#xA;    }&#xA;}" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="rf-sys-sd-sapecc-order-idoc-api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <apikit:exception value="com.mulesoft.mule.transport.sap.jco3.xml.SapXmlParserException"/>
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{   &quot;response&quot;: {     &quot;message&quot;: &quot;Order could not be posted&quot;,     &quot;error&quot;: &quot;#[(exception.i18nMessage).toString().replace(&quot;\&quot;&quot;,&quot;&quot;)]&quot;,     &quot;error-desc&quot;: &quot;#[(exception.message).replaceAll(&quot;\&quot;&quot;,&quot;&quot;)]&quot;   } }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
